<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>POS Tagging</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <script src="./index.js" defer></script>
  </head>
  <body>
    <main>{% block content %}{% endblock %}</main>
    <footer>
      Copyright&copy; 2021 by
      <a href="https://github.com/tracy2811/" target="_blank">Trang Nguyen</a>
    </footer>
  </body>
</html>
